
$bgColor: rgba(255,255,255,0.92);
$bgWhite: rgb(255,255,255);
$bgTable: rgba(255,255,255,0.5);

$White: #fff;
$Black: #333;

$deepGreen: rgb(44, 153, 78);
$lightGreen: rgb(104, 178, 126);
$softGreen: rgb(216, 243, 225);
$thinGreen: rgb(206, 238, 216);
$Brown: #979286;
$lightBrown: #cac0a7;

$deepYellow: #e6ce65;
$lightYellow: #f8f2d8;
$lightBlue: #dcf4fc;

$caution: #b52107;
$required: #db472c;
$warning: rgb(227, 132, 8);

$mainFont: 'IBM Plex Sans JP', sans-serif;
$titleFont: 'Inter', sans-serif;

$bgWidth: 85%;
$basicImageWidth: 420px;

$maxWidth: 1280px;
$lgWidth: 960px;
$mdWidth: 600px;

