#container {
  padding: 1rem;
  background-color: rgb(173, 208, 183);
  position: relative;
  height: 1000px;
}

div {
  font-weight: 600;
  padding: 0.5rem;
  font-size: 1.1em;
  width: 150px;
  height: 150px;
  box-shadow: 7px 7px 0 0 #000;
}

.div-1 {
  background: orange;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
}
.div-2 {
  background: tomato;
  position: absolute;
  z-index: 20;
}
.div-3 {
  background: teal;
  position: absolute;
  top: 40px;
  left: 40px;
  height: 600px;
  z-index: 30;
}
.div-4 {
  position: sticky; // 親要素にoverflow: hidden;が指定されていると意図した動きにならない
  width: 80px;
  height: 80px;
  background-color: violet;
  top: 30px;
}
